

.navbar {
    display:flex;
    background-color: #3A595C;
    overflow: hidden;
    justify-content:center;
}
.navitem {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 26px;
    text-decoration: none;
 
}
.navitem:hover {
 
    color: #BCD9D7;
}

